*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    height: 100%;
    background-image: url(1.JPG);
    background: linear-gradient(to top, rbga(0,0,0,0.5)50%, rbga(0,0,0,0.5)50%), url(1.JPG) no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.navbar{
    width: 1500px;
    height: 50px;
    margin: auto;
    background: rgb(248, 214, 248);
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: navy;
    font-size: 18px;
    font-family: cursive;
    padding-left: 20px;
    float:left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 15px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 128);
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: slateblue;
}

.search{
    width: 270px;
    float: left;
    margin-left: 380px;

}

.srch{
    font-family: 'Times New Roman';
    width: 150px;
    height: 30px;
    background: transparent;
    border: 2px solid navy;
    margin-top: 10px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 30px;
    background: navy;
    border: 2px solid navy;
    margin-top: 10px;
    color:whitesmoke;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: navy;
    position: relative;
}

.content .par{
    font-size: 12px;
    padding-left: 27px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;   
}

.content h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 27px;
    margin-top: 9%;
    letter-spacing: 2px;
}


.content h1{
    font-family: Arial;
    font-size: 50px;
    padding-left: 20px;

    letter-spacing: 2px;
}

.content .cn{
    width: 70px;
    height: 40px;
    background: rgb(252, 108, 42);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 12px;
    border-radius:10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn .a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}

.cn:hover{
    background-color: violet;
}

@media screen and (max-width:1200px) {

    .navbar{
        width: 100%;
        height: 100px;
    }
    ul{
        margin-left: 30px;
    }
    ul li{
        margin-left: 60px;
    }
    ul li a{
        font-size: 1.6vw;
    }
    
    .search{
        margin-top: 3px;
        margin-left: 290px;
    }

    .srch{
        height: 40px;
        width: 190px;
        font-size: 14px;
    }

    .btn{
        height: 40px;
        width: 80px;
    }

    .content{
        width: 100%;
    }

    .content h1, .content span{
        font-size: 4.5vw;
    }
    
    .content .par{
        width: 90%;
        font-size: 1.5vw;
    }

    .content .cn{
        width: 13%;
        height: 3.5vw;
        font-size: 1.8vw;
    }

    .content a{
        font-size: 1.6vw;
         , n 
    }
}